.jekyll-cache
.ipynb_checkpoints
.DS_Store
*.code-workspace
_site

WhirlwindTourofPython-master
drafts
external_content

homework/*sol*
discussion/*sol*
*.pyc
*Untitled*
python_scratch.py
project/scratch.ipynb
project/downloaded_penguins.csv
reflections_feedback
evaluation
groups
tidbits
exams
