<ul class="menu">
    <li><a class="page-link" href="{{site.syllabus}}"><i class="fa fa-list-ul fa-lg"></i> Syllabus</a></li>
    <li><a class="page-link" href="{{site.schedule}}"><i class="fas fa-calendar-alt"></i> Schedule</a></li>
    <li><a class="page-link" href="{{site.project}}"><i class="fas fa-window-restore"></i> Project</a></li>
    <li><a class="page-link" href="{{site.tips}}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Resources</a></li>
    <li><a class="page-link" href="{{site.tips}}"><i class="fas fa-hands-helping" aria-hidden="true"></i> Get Involved</a></li>
</ul>
