/**
 * Reset some basic elements
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre, hr,
figure {
    margin: 0;
    // padding: 0;
    padding: 15px 0.0px 0.0px 10px;
}

ol, ul { 
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 15px;
}

h3, h4, h5, h6 {
    padding: 15px 0px 0px 10px;
}

p, dl, dd  { 
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 20px;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}





/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
 ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 { 
    font-size: 2em
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

   &:visited {
    /*    color: darken($brand-color, 15%); */
    } 

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/* .post-content a, .home a {
	font-weight: 500;
} */

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 14px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

a.tosu {
color: #b00000;
background: #f5f5f5;
text-decoration: none;
 padding: 2px; 
 font-weight: 600; 
font-family: 'Capita', Georgia, serif;
}

.pink-bg, .lightblue-bg, .yellow-bg, .grey-bg{
    overflow: hidden;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    margin: 3px;
}

.pink-bg{
	border-left: solid 5px $pink;
	border-right: solid 0px $pink;
    background-color: $pink-30;
}

.lightblue-bg{
	border-left: solid 5px $lightblue;
	border-right: solid 0px $lightblue;
    background-color: $lightblue-30;
}

.yellow-bg{
	border-left: solid 5px $yellow;
	border-right: solid 0px $yellow;
    background-color: $yellow-30;
}

.grey-bg{
	border-left: solid 5px $monument;
	border-right: solid 0px $monument;
    background-color: $monument-30;
}

.blocks {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 10px;
}


dl {
    // border: 3px double #ccc;
    // padding: 0.5em;
}
dt {
float: left;
clear: left;
width: 150px;
text-align: left;
font-weight: bold;
color: $brand-color;
}
dt::after {
content: "" ;
}
dd {
margin: 0 0 0 0.5em;
padding: 0 0 0.5em 0;
text-align: left;
display: block;
}
// dd:after {
// 	content: '\A';
// 	white-space: pre;
// }

.fancy-h1  {
    color: $background-color;
    background-color: $brand-color;
    padding: 0.5em 0.0em 0.5em 0.5em;
    margin: 0.5em 0.0em 0.5em 0.0em;
    letter-spacing: -1px;
    line-height: 1;
	font-family: 'Titillium Web', sans-serif;
    font-size:    2em;
    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
    // border-left: solid 5px $yellow;
	// border-right: solid 0px $yellow;
    // background-color: $yellow-30;
}

.fancy-h1-inverse  {
    color: $grey-color-dark;
    background-color: $secondary-color;
    padding: 0.5em 0.0em 0.5em 0.5em;
    margin: 0.5em 0.0em 0.5em 0.0em;
    letter-spacing: -1px;
    line-height: 1;
	font-family: 'Titillium Web', sans-serif;
    font-size:    2em;
    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
    // border-left: solid 5px $yellow;
	// border-right: solid 0px $yellow;
    // background-color: $yellow-30;
}


li {
    padding: 0.5em 0.0em 0.0em 0.5em;
}

h4 { 
    font: italic bold;
}

// th {
//     text-align: left;
//   }

table {
    border-collapse: collapse;
}


th { 
    padding: 0.2em 0.0em 0.2em 0.5em; 
    text-align: left;
}




td {
    border-bottom: 2px solid $grey-color-light;
    border-top: 2px solid $grey-color-light;
    border-collapse: collapse;
    border-spacing: 4px;
    padding: 0.2em 0.0em 0.2em 0.5em;
}

.week{
    border-bottom: 4px solid $grey-color-light;
    border-top: 4px solid $grey-color-light;
  border-collapse: separate;
  border-spacing: 4px;
}

.week_marker_even {
    background-color : $grey-color-light;
    // color: $background-color;
    text-align: center;
    padding : 0px 10px 0px 10px
}

.week_marker_odd {
    // background-color : lightgrey;
    // color: $background-color;
    text-align: center;
    background-color : $background-color;
    padding : 0px 10px 0px 10px
}

.assignment{
    padding: 0.2em 0.0em 0.2em 0.5em;
}

.quiz {
    background-color : $pink-90;
    padding: 0.2em 0.0em 0.2em 0.5em;
}
.hw {
    background-color : $lightblue-90;
    padding: 0.2em 0.0em 0.2em 0.5em;
}

.exam {
    background-color : $yellow-90;
    padding: 0.2em 0.0em 0.2em 0.5em;
}

strong {
    font-weight: 700;
    // color: $brand-color;
  }


.sr_only { 
    color: $background-color;
}